/* @import url("https://fonts.googleapis.com/css?family=Pontano+Sans"); */
h1,
p {
  padding: 0;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial,
    sans-serif;
  line-height: 18px;
  color: #737373;
  background-color: #fff;
  margin: 10px 13px;
}
table {
  margin: 10px 0 15px;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #ddd;
  padding: 3px 10px;
}
th {
  padding: 5px 10px;
}
a {
  color: #0069d6;
}
a:hover {
  color: #0050a3;
  text-decoration: none;
}
a img,
hr {
  border: 0;
}
p {
  margin: 0 0 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #404040;
  line-height: 36px;
}
blockquote,
h1 {
  margin: 0 0 18px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
blockquote p,
h5 {
  font-size: 14px;
}
body,
h6 {
  font-size: 13px;
}
hr {
  margin: 0 0 19px;
  border-bottom: 1px solid #ccc;
}
blockquote {
  padding: 13px 13px 21px 15px;
  font-family: georgia, serif;
  font-style: italic;
}
blockquote:before {
  content: "\201C";
  font-size: 40px;
  margin-left: -10px;
  font-family: georgia, serif;
  color: #eee;
}
blockquote p {
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
  font-style: italic;
}
code,
pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
pre,
pre code {
  font-size: 11px;
}
pre {
  display: block;
  margin: 0 0 18px;
  line-height: 16px;
  border: 1px solid #d9d9d9;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 14px;
}
pre code {
  background-color: #fff;
  color: #737373;
  padding: 0;
}
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}
* {
  -webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
  body {
    width: 854px;
    margin: 10px auto;
  }
}
@media print {
  body,
  code,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre code {
    color: #000;
  }
  pre,
  table {
    page-break-inside: avoid;
  }
}
